.progress {
    .counter {
        display: flex;
        background: #2f45c2;
        justify-content: space-between;
        border-radius: 20px;
        .left {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                margin: 0;
                font-size: 42px;
                color: #fff;
            }
            p {
                margin: 0;
                color: #f4f4f4;
            }
            h4 {
                color: #fff;
                margin: 0;
            }
        }
    }

    .right {
        padding: 20px 20px 20px 38px;
        background: #ffffff24;
        border-radius: 50% 0 0 50%;
        .box {
            .percent {
                width: 150px;
                height: 150px;
                position: relative;
                svg {
                    width: 150px;
                    height: 150px;
                    position: relative;
                    circle {
                        width: 150px;
                        height: 150px;
                        fill: none;
                        stroke-width: 10;
                        stroke: #000;
                        transform: translate(5px, 5px);
                        stroke-dasharray: 440;
                        stroke-dashoffset: 440;
                        stroke-linecap: round;
                        &:nth-child(1) {
                            stroke-dashoffset: 0;
                            stroke: #ffffff27;
                        }
                        &:nth-child(2) {
                            stroke-dashoffset: calc(440 - (440 * 76) / 100);
                            stroke: #fff;
                        }
                    }
                }
                .num {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    color: #111;
                    h2 {
                        font-size: 48px;
                        margin: 0;
                        color: #fff;
                        span {
                            font-size: 24px;
                        }
                    }
                }
            }
            .text {
                padding: 10px 0 0;
                color: #999;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
}

.chart-dashboard{
    .MuiBox-root{
        height: auto;
    }
    .css-4b6cqa{
        height: auto;
    }
}
